<html>

<!--- Dados de entrada -->

<head>
<title>Painel de monitoramento de preços agrícolas do Cariri</title>
<!-- Conectando com o css -->
<link rel="stylesheet" href="layout.css" />
<!-- biblioteca de icnoes html-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Cabeçalho-->

<header>
<table>
<tr>
<th><img src = https://nipe-urca.netlify.app/images/logo.png style = "width:2cm; height:2cm; border-radius: 50%;"></th>
<th><div class = "titulo">
<h1> Painel de monitoramento de preços agrícolas do Cariri</h1>
</div>
<th><img src = "https://foprop.org.br/wp-content/uploads/jet-engine-forms/guest/2023/03/URCA.jpg" style = "width:3cm; height:2cm;border-radius:50%;"</th>
</tr>
</table>

</header>

<!-- Barra de navegação -->

<div class = "barra_navegacao">
<div class = "itens">
<a href="Home.html"> <i class="fa fa-fw fa-home"></i> Início</a>
<a href = "Relatorios.html"> <i class="fa fa-file-text"></i> Relatórios</a>
<a href = "Indice_precos.html"> <i class="fa fa-bar-chart"></i> Índices de preços </a>
<a href = "Previsoes.html"> <i class="fa fa-line-chart"></i> Previsões </a>
</div>
</div>

<body>


<h1 class = "tituloApresentacao" style="text-align:center;">
Apresentação
</h1>

<p>
O Painel de Monitoramento de Preços Agrícolas do Cariri (PMPAC) é uma iniciativa do Núcleo Integrado de Pesquisa Econômica (<a href = "nipe-urca.netlify.app">NIPE</a>) e tem como objetivo central monitorar a trajetória dos preços de uma cesta de produtos agrícolas nas dependências da região de planejamento do Cariri cearense. A cesta representativa de consumo é formada por produtos que são classificados em duas grandes categorias: frutas e hortaliças. Os preços são coletados semanalmente da Central Estadual de Abastecimento do Ceará (CEASA-CE) localizada na cidade de Barbalha, no Cariri cearense.
</p>

<p>
Nesse painel, o usuário pode consultar o comportamento dos preços de um produto agrícola em específico ou pode optar por checar a trajetória dos preços das categorias de produto ou da cesta representativa de consumo de produtos agrícolas. Além disso, futuramente o painel usará técnicas de estatística e econometria de séries temporais para fornecer um indicativo de previsão do comportamento futuro dos preços, dando ao usuário a possibilidade de antecipar eventuais movimentos do mercado de produtos agrícolas nas suas estratégias de alocação de recursos. Saiba mais sobre a nossa metodologia clicando <a href = "Arquivos/Metodologia.pdf"> aqui</a>.
</p>

<p>
Além de monitorar a trajetória dos preços agrícolas, essa ferramenta objetiva fornecer uma métrica de avanço e oscilação dos preços de produtos indispensáveis na composição dos gastos das famílias na região do Cariri cearense, dado que os produtos monitorados são itens voltados para o segmento de alimentação. Consequentemente, as flutuações de preços monitoradas pelo painel fornecem indicativos sobre as mudanças na capacidade de alimentação da população local, podendo servir como base na elaboração de medidas que visem reduzir o déficit alimentar e garantir o poder de compra da população mais vulnerável às mudanças nos preços dos alimentos.
</p>

<p>
Por fim, a construção dessa plataforma depende de uma coleta e armazenamento contínuo de informações sobre inúmeros produtos agrícolas. Essas informações formam uma base de dados que pode estruturar diversas pesquisas sobre temas como precificação, poder de compra, inflação, segurança alimentar e áreas afins com foco na região do Cariri. Consulte as nossas vias de contato para mais informações sobre as bases de dados.
</p>

<h1 class = "tituloAgradecimentos" style="text-align:center; margin-top:3%">
Agradecimentos
</h1>

<p>
O NIPE e a comissão organizadora do PMPAC agradecem a todos que contribuiram com opiniões e sugestões, ou que demonstraram disponibilidade em contribuir de alguma maneira com o projeto. Nossos cinceros agradecimentos aos profissionais listados a seguir:
</p>

<ul style = "margin-bottom = 50px">
  <li><a  href = "http://lattes.cnpq.br/8452477407336035"> Prof. Dr. Luís Abel da Silva Filho</a>  <a href = "https://www.linkedin.com/in/lu%C3%ADs-abel-da-silva-filho-47a3899a/" aria-hidden="true"><i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
  <li><a href = "http://lattes.cnpq.br/4922472733802502" >Prof. Dr. Rômulo Eufrosino de Alencar Rodrigues </a> </li>
  <li><a href = "http://dgp.cnpq.br/dgp/espelhogrupo/46726">Laboratório de Estudos Avançados em Econometria Aplicada e Machine Learning (LAEC)</a> <a href = "https://www.instagram.com/laec_urca_cnpq/" aria-hidden="true"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
</ul>




<hr>

<footer>
<div class = "tabela">
<table>
<tr> <th>
<div class = "titulo1_rodape"><i class="fa fa-users"></i> Organização geral </div></th> 
<th><div class = "titulo1_rodape"> <i class="fa fa-envelope"></i> Contatos </div></th><th><div class = "titulo1_rodape"> <i class="fa fa-camera"></i> Mídias </div></th>
</tr>
<tr> 
<td><a href = "nipe-urca.netlify.app">Núcleo Integrado de Pesquisa Econômica</a></td>
<td> <i class="fa fa-envelope-open-o" aria-hidden="true"></i>  nipe.urca@gmail.com </td><td> <a href = "https://www.instagram.com/nipe_urca/?igsh=MWFmaGticnJ3ejVnZg%3D%3D"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>  </td>
</tr>
<tr> 
<td><a href = "urca.br">Universidade Regional do Cariri</a></td>
<td><i class="fa fa-envelope-open-o" aria-hidden="true"></i> urca@urca.br</td><td> <a href = "https://www.instagram.com/urcaoficial_/" > <i class="fa fa-instagram" aria-hidden="true"></i> </a>  <a href = "https://www.linkedin.com/school/universidade-regional-do-cariri/?originalSubdomain=br"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a href = "https://www.facebook.com/urcaceara/?locale=pt_BR"> <i class="fa fa-facebook" aria-hidden="true"></i> </a> </td>
</tr>
<tr> 
<td><a href = "urca.br">Departameto de Economia</a></td>
<td><i class="fa fa-envelope-open-o" aria-hidden="true"></i> dpto.economia@urca.br</td><td></td>
</tr>
<tr> 
<td> <i class="fa fa-map-marker" aria-hidden="true"></i> <a href = "https://maps.app.goo.gl/YB9VzPNda9BGQ8vE6">Rua Cel. Antonio Luiz, 1161, Pimenta, Carto-CE</a></td>
<td></td><td></td>
</tr>
<tr> 
<td> </td>
<td><div class = "titulo1_rodape"> <i class="fa fa-user-circle-o"></i> Contribuições </div></td><td></td>
</tr>
<td> </td>
<td> <a href = "https://maps.app.goo.gl/hVNz7dyrXMZT2MxX9">Ceasa Cariri</a> </td><td></td>
</tr>
</tr>
<td> </td>
<td> CEPEC - URCA</a> </td><td> <a href = "https://www.instagram.com/cepec.economiaurca/" > <i class="fa fa-instagram" aria-hidden="true"></i> </a> <a href = "linktr.ee/cepecurca"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> </td>
</tr>
</table>
</div>
</footer>


</body>
</html>
