<html>

<!--- Dados de entrada -->

<head>
<title>Painel de monitoramento de preços agrícolas do Cariri</title>
<!-- Conectando com o css -->
<link rel="stylesheet" href="layout.css" />
<!-- biblioteca de icnoes html-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Cabeçalho-->

<header>
<table>
<tr>
<th><img src = https://nipe-urca.netlify.app/images/logo.png style = "width:2cm; heigth:2cm; border-radius: 50%;"></th>
<th><div class = "titulo">
<h1> Painel de monitoramento de preços agrícolas do Cariri</h1>
</div>
<th><img src = "https://foprop.org.br/wp-content/uploads/jet-engine-forms/guest/2023/03/URCA.jpg" style = "width:3cm; heigth:3cm;border-radius:50%;"</th>
</tr>
</table>

</header>

<!-- Barra de navegação -->

<div class = "barra_navegacao">
<div class = "itens">
<a href="Home.html"> <i class="fa fa-fw fa-home"></i>Início</a>
<a href = "Relatorios.html"> <i class="fa fa-file-text"></i> Relatórios</a>
<a href = "Indice_precos.html"> <i class="fa fa-bar-chart"></i> Índices de preços </a>
<a href = "Previsoes.html"> <i class="fa fa-line-chart"></i> Previsões </a>
</div>
</div>



<p class = "alerta_previsao">
  Disponível em breve!
</p>

<!-- Rodapé -->

<hr>

<footer>
<div class = "tabela">
<table>
<tr> <th>
<div class = "titulo1_rodape"><i class="fa fa-users"></i> Organização geral </div></th> 
<th><div class = "titulo1_rodape"> <i class="fa fa-envelope"></i> Contatos </div></th><th><div class = "titulo1_rodape"> <i class="fa fa-camera"></i> Mídias </div></th>
</tr>
<tr> 
<td><a href = "nipe-urca.netlify.app">Núcleo Integrado de Pesquisa Econômica</a></td>
<td> <i class="fa fa-envelope-open-o" aria-hidden="true"></i>  nipe.urca@gmail.com </td><td> <a href = "https://www.instagram.com/nipe_urca/?igsh=MWFmaGticnJ3ejVnZg%3D%3D"> <i class="fa fa-instagram" aria-hidden="true"></i> </a>  </td>
</tr>
<tr> 
<td><a href = "urca.br">Universidade Regional do Cariri</a></td>
<td><i class="fa fa-envelope-open-o" aria-hidden="true"></i> urca@urca.br</td><td> <a href = "https://www.instagram.com/urcaoficial_/" > <i class="fa fa-instagram" aria-hidden="true"></i> </a>  <a href = "https://www.linkedin.com/school/universidade-regional-do-cariri/?originalSubdomain=br"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> <a href = "https://www.facebook.com/urcaceara/?locale=pt_BR"> <i class="fa fa-facebook" aria-hidden="true"></i> </a> </td>
</tr>
<tr> 
<td><a href = "urca.br">Departameto de Economia</a></td>
<td><i class="fa fa-envelope-open-o" aria-hidden="true"></i> dpto.economia@urca.br</td><td></td>
</tr>
<tr> 
<td> <i class="fa fa-map-marker" aria-hidden="true"></i> <a href = "https://maps.app.goo.gl/YB9VzPNda9BGQ8vE6">Rua Cel. Antonio Luiz, 1161, Pimenta, Carto-CE</a></td>
<td></td><td></td>
</tr>
<tr> 
<td> </td>
<td><div class = "titulo1_rodape"> <i class="fa fa-user-circle-o"></i> Contribuições </div></td><td></td>
</tr>
<td> </td>
<td> <a href = "https://maps.app.goo.gl/hVNz7dyrXMZT2MxX9">Ceasa Cariri</a> </td><td></td>
</tr>
</tr>
<td> </td>
<td> CEPEC - URCA</a> </td><td> <a href = "https://www.instagram.com/cepec.economiaurca/" > <i class="fa fa-instagram" aria-hidden="true"></i> </a> <a href = "linktr.ee/cepecurca"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a> </td>
</tr>
</table>
</div>
</footer>



</html>