<html>

<!--- Dados de entrada -->

<head>
<title>Painel de monitoramento de preços agrícolas do Cariri</title>
<!-- Conectando com o css -->
<link rel="stylesheet" href="layout.css" />
<!-- biblioteca de icnoes html-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!--Cabeçalho-->

<header>
<table>
<tr>
<th><img src = https://nipe-urca.netlify.app/images/logo.png style = "width:2cm; heigth:2cm; border-radius: 50%;"></th>
<th><div class = "titulo">
<h1> Painel de monitoramento de preços agrícolas do Cariri</h1>
</div>
<th><img src = "https://foprop.org.br/wp-content/uploads/jet-engine-forms/guest/2023/03/URCA.jpg" style = "width:3cm; heigth:3cm;border-radius:50%;"</th>
</tr>
</table>

</header>

<!-- Barra de navegação -->

<div class = "barra_navegacao">
<div class = "itens">
<a href="Principal.html"> <i class="fa fa-fw fa-home"></i>Início</a>
<a href = "Relatorios.html"> <i class="fa fa-file-text"></i> Relatórios</a>
<a href = "Indice_precos.html"> <i class="fa fa-bar-chart"></i> Índices de preços </a>
<a href = "Previsoes.html"> <i class="fa fa-line-chart"></i> Previsões </a>
</div>
</div>


</html>